body {
    color: #031e03;
    min-height: 100vh;
    margin: 0;
    background-color: #031e03;
    opacity: 0.8;
    background-size: 10px 10px;
    background-color: #1F1F1F;
}
nav {
    background-color: #CC5500;
    padding: 15px;
}

nav .btn {
    color: #fff;
    background-color: #1F1F1F;
    border: 2px solid #CC5500;
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 10px;
    transition: all 0.3s ease;
}

nav .btn:hover {
    background-color: #CC5500;
    color: #fff;
}
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}
.sidebar {
    width: 100px;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    align-items: start;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
}
h5, h2, h1 {
    color: #ffffff; 
    text-align: center;
}
.card {
    width: 45rem; 
    height: 18rem; 
    background-color: #181818;
    border: 2px solid #1DB954;
    border-radius: 10px;
    color: #b3b3b3;
    box-shadow: 0 0 10px 5px rgba(29, 185, 84, 0.5);
}
.card:hover {
    box-shadow: 0 0 20px 10px rgba(29, 185, 84, 0.7);
}
.btn-primary {
    background-color: #CC5500; 
    border-color: #146831;
}
.btn-primary:hover {
    background-color: #CC5500;
    border-color: #CC5500;
}
.card-text {
    color: #b3b3b3;
}
.card-container {
    padding-top: 15vh;
    display: flex;
    justify-content: center;
}
.song-result {  
    margin-bottom: 0;
    width: 100%; 
    height: auto; 
    padding: 0; 
    background-color: #181818;
    border: 1px solid #CC5500; 
    border-radius: 20px 0 0 20px;
    box-shadow: none;
    display: block;
}
.album-cover img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.song-name {
    color: #ffffff;
    font-size: 1rem;
}
.album-title {
    color: #b3b3b3;
    font-size: 0.9rem;
}
.duration {
    font-size: 0.9rem;
    color: #b3b3b3;
}
.song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search-form {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 20px;
}

.search-bar {
    width: 300px;
    padding: 10px 15px;
    border-radius: 20px 0 0 20px;
    border: 2px solid #CC5500;
    outline: none;
    color: #b3b3b3;
    background-color: #333;
}

.search-bar::placeholder {
    color: #b3b3b3;
    opacity: 0.8;
}

.search-button {
    padding: 10px 20px;
    border-radius: 0 20px 20px 0;
    background-color: #CC5500;
    color: #fff;
    border: 2px solid #CC5500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #146831;
}

.favorite-artist-search-bar {
    position: relative;
    top: 25px; 
    left: 400px; 
    width: 500px;
    padding: 10px 15px;
    border-radius: 20px 0 0 0;
    border: 2px solid #CC5500;
    outline: none;
    color: #b3b3b3;
    background-color: #333;
}
.favorite-song-search-bar {
    position: relative;
    top: -30px; 
    left: 400px; 
    width: 500px;
    padding: 10px 15px;
    border-radius: 0 0 0 0;
    border: 2px solid #CC5500;
    outline: none;
    color: #b3b3b3;
    background-color: #333;
}

.favorite-genre-search-bar {
    position: relative;
    top: -85px; 
    left: 400px; 
    width: 500px;
    padding: 10px 15px;
    border-radius: 0 0 0 20px;
    border: 2px solid #CC5500;
    outline: none;
    color: #b3b3b3;
    background-color: #333;
}

.recommendations-search-button {
    position: relative;
    top: -30px; 
    left: 400px; 
    padding: 60px 80px;
    border-radius: 0 20px 20px 0;
    background-color: #CC5500;
    color: #fff;
    border: 2px solid #CC5500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.recommendations-search-button:hover {
    background-color: #146831;
}

.recommendations-title {
    font-size: 3.5rem;
    font-weight: 700;
    padding: 10px 20px;
}

.recommendations-description {
    padding: 5px 10px;
}

.song-result img {
    width: 50px; 
    height: 50px;
    object-fit: cover; 
}
.song-name {
    font-size: 1rem; 
    margin-bottom: 0; 
}
table {
    border-spacing: 0; 
    border-collapse: collapse; 
    
}

.favorite-button {
    padding: 40 80px;
    border-radius: 0 20px 20px 0;
    background-color: #CC5500;
    color: #fff;
    border: 2px solid #CC5500;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 

.favorite-button:hover {
    background-color: #146831;
}

td {
    padding: 0; 
    margin: 0; 
    border: none; 
    line-height: 1;
}
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    gap: 30px; /* Space between the search sections */
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-title {
    margin-bottom: 10px;
}

.artist-info {
    margin-top: 40px;
}

